.span4
  %table.table.table-bordered
    %tbody
      %tr
        
        %td
          - if timeline_item.attachments.length > 0
            - timeline_item.attachments.each do |attachment|
              %img{src: "/attachment-proxy?timeline_item_id=#{timeline_item.id}&attachment_id=#{attachment.id}"}
          - else
            .muted None
      %tr
        
        %td= Rack::Utils.escape_html(timeline_item.text)
      %tr
       
        %td= Rack::Utils.escape_html(timeline_item.created)
       
      
      %tr
        %td(colspan="2")
          %form.form-inline(method="post" action="/delete-item")
<<<<<<< HEAD
            %input(type="hidden" name="id" value="#{timeline_item.id}")
            %button.btn.btn-block.btn-danger(type="submit") Delete
=======
          %input(type="hidden" name="id" value="#{timeline_item.id}")
          %button.btn.btn-block.btn-danger(type="submit") Borrar
           
       
>>>>>>> 2fe23e6c5d27875730b2900da0ddb12fa396235a
